<Settings>
	<Table>
		<StepsInMM>80</StepsInMM>
		<LimitsMM>
			<X>340</X>
			<Y>640</Y>
			<Z>70</Z>
		</LimitsMM>
	</Table>
	<AllMicros>
		<Micros name = "Микроскоп_1 800к">
			<Resolution>
				<Width>1024</Width>
				<Height>768</Height>
			</Resolution>
			<Mode name = "Default">
				<Offset>
					<Left>0</Left>
					<Top>0</Top>
					<Right>0</Right>
					<Bottom>0</Bottom>
				</Offset>
				<PixelsInMM>800</PixelsInMM>
				<WorkHeightMM>50</WorkHeightMM>
				<Focus>Auto</Focus>
				<Zoom>50x</Zoom>
			</Mode>
		</Micros>
		<Micros name = "Микроскоп_1 300к">
			<Resolution>
				<Width>640</Width>
				<Height>480</Height>
			</Resolution>
		</Micros>
		<Micros name = "Микроскоп_2 8М">
			<Resolution>
				<Width>4096</Width>
				<Height>2048</Height>
			</Resolution>
		</Micros>
		<Micros name = "Микроскоп_тест 20к">
			<Resolution>
				<Width>200</Width>
				<Height>100</Height>
			</Resolution>
			<Mode name = "Default">
				<Offset>
					<Left>0</Left>
					<Top>0</Top>
					<Right>0</Right>
					<Bottom>0</Bottom>
				</Offset>
				<PixelsInMM>10</PixelsInMM>
				<WorkHeightMM>40</WorkHeightMM>
				<Focus>Auto</Focus>
				<Zoom>0.1x</Zoom>
			</Mode>
		</Micros>
		<Micros name = "Веб камера">
			<Resolution>
				<Width>640</Width>
				<Height>480</Height>
			</Resolution>
			<Mode name = "Default">
				<Offset>
					<Left>240</Left>
					<Top>180</Top>
					<Right>240</Right>
					<Bottom>180</Bottom>
				</Offset>
				<PixelsInMM>15.5</PixelsInMM>
				<WorkHeightMM>10</WorkHeightMM>
				<Focus>Auto</Focus>
				<Zoom>1x</Zoom>
			</Mode>
			<Default>True</Default>
		</Micros>
	</AllMicros>
</Settings>